/* 
Colors: 
Pink: #fc41c6
Orange: #ff9602
White: #edeeefff
Grey: #4a494a
Green: #668364ff

Font-family: 
'Mukta Mahee', sans-serif; 200 - 800
'Courier Prime', monospace; 400, 700
 */

 /* CSS RESET */

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /*------------------------------- Universal Styles & Utility Classes -----------------------------*/

/* Padding Classes -------------------*/

.padded { padding: 5%; }
.padded-sm { padding: 1rem; }
.padded-lg { padding: 10%; }

.padded-top-0 { padding: 0 4%; }

.padded-0 { padding: 0; }

/* Margin Classes -------------------*/

.margin-b-4 { margin-bottom: 3rem; }

.margin-b-sm { margin-bottom: 1rem; }
.margin-t-sm { margin-top: 1rem; }

.margin-b-0 { 
  margin-bottom: 0;
 }

/* Header & Footer Styles ---------------------- */

header {
  padding: 2% 5%;
}

h1 {
  font-size: 3rem;
}

header h3 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

header h2 [class*="col-"] {
  margin-bottom: 0;
  padding: 0;
}

header nav a {
  display: inline-block;
  margin: 0 6%;
  border: 1px solid rgba(0,0,0,0);
}

header nav a:last-child {
  margin-right: 0;
}


header nav a:hover {
  color: #fc41c6;
  border-bottom: 1px solid #fc41c6;
}

header a {
  display: inline-block;
}

.header-bg {
  background: #EECDA3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.footer-nav {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
}

/* Social Icons Style */
  
.social a {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 0.5rem;
  border: none;
}

.vertical a {
  display: block;
  border: none;
}


/* Typography Styles -------------*/

body {
  font-family: 'Mukta Mahee', sans-serif;
  background-color: #edeeefff;
}

h2, h3, h4, h5, h6 {
margin-bottom: 1rem;
line-height: 1;
}

h2 {
  font-size: 2rem;
}

h4 {
 font-size: 1.5rem;
 margin-bottom: 1.5rem;
}

h5 {
 font-size: 1.3rem;
}

p {
  font-weight: 300;
}

p:last-child {
  margin-bottom: 0;
}

a {
 color: inherit;
 text-decoration: none;
}

a:hover {
 color: #fc41c6;
}

img {
 max-width: 100%;
 display: block;
}

li {
 margin-left: 1rem;
}

.center { text-align: center; }
.right  { text-align: right; }
.left   { text-align: left; }

/* Special Text */

.featured-text {
font-size: 2.5rem;
line-height: 1.1;
letter-spacing: 0.4em;
}

.medium-text {
font-size: 1rem;
line-height: 1.1;
letter-spacing: 0.02em;
}

.subtitle {
font-size: 0.8rem;
color: #4a494a;
}

.quote-icon {
font-size: 3rem;
display: inline-block;
color: #4a494a;
line-height: 1;
}

.icon {
display: block;
text-align: center;
margin-bottom: 2rem;
font-size: 3rem;
}



/* Min Height -------------------*/

.tall-50        { min-height: 50vh; }
.tall-60        { min-height: 60vh; }
.tall-70        { min-height: 70vh; }
.tall-80        { min-height: 80vh; }
.tall-90        { min-height: 90vh; }
.tall-100       { min-height: 100vh; }


/* Aspect Ratio */

.portrait-tall { padding-bottom: 203.5%;}
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }
.landscape { padding-bottom: 66%; }
.landscape-wide { padding-bottom: 56%; }

/* Background Images ---------------------------------*/

.bg-image {
  background-image: url('/images/logo-picaron-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 27rem;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
}

  .bg-img-1 {
    background-image: url('/images/picaron-studio1.jpg');
  }
  
  .bg-img-2 {
    background-image: url('/images/picaron-studio2.jpg');
  }
  
  .bg-img-3 {
    background-image: url('/images/picaron-studio3.jpg');
  }
  
  .bg-img-4 {
    background-image: url('/images/picaron-studio4.jpg');
  }
  
  .bg-img-5 {
    background-image: url('/images/picaron-studio5.jpg');
  }

  .gallery [class*="col-"] {
    padding: 0.5%; 
  }

.bg-dark { 
    background-color: #4a494a;
    color: white;
}

.bg-pink { 
    background-color: #fc41c6;
    color: white;
}

.bg-green { 
    background-color: #668364ff;
    color: white;
}

/* Button & Form Styles */

.button {
    text-transform: uppercase;
    font-family: 'Courier Prime', monospace;
    font-weight: 300;
    letter-spacing: 0.05em;
    background-color: #edeeefff;
    color: #4a494a;
    border: 1.2px solid;
    padding: 0.7rem 1rem;
    transition: all 0.3s;
    display: inline-block;
  }

.button:hover {
    color: white;
    background-color: #4a494a;
    border: 1.2px solid #4a494a;
}

.button-pink {
  border: 1.2px solid #edeeefff;
}

.button-pink:hover {
    color: white;
    background-color: #fc41c6;
    border: 1.2px solid #fc41c6;
}

input, 
textarea {
  width: 100%;
  display: block;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  border: 2px solid transparent;
}

input:focus,
textarea:focus {
  border: 2px solid #fc41c6;
  outline: none;
}

/* Special Text */

.featured-text {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 0.4em;
}

.medium-text {
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.subtitle {
    font-size: 0.8rem;
    color: #4a494a;
}



.icon {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

/* Card Styles */

  .card {
    background-color: white;
    border-radius: 5px;
    margin: 1px;
  }

  .card:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.2),0 10px 10px -5px rgba(0,0,0,.2);
  }

  .card-review:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.2),0 10px 10px -5px rgba(0,0,0,.2);
  }

  .card h2 {
    font-size: 1.8rem;
  }

  .card-bg {
    background-color: #edeeefff;
    background-size: cover;
    background-position: center;
    padding-bottom: 80%;
    color: white;
    justify-content: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .card-link:hover {
      color: inherit;
  }

  .card-review {
    background-color: white;
    border-radius: 2px;
    margin: 10px;
  }

  .info {
      padding: 1rem;
  }

/* Testimonial Block -------------- */
  
.quote-icon {
  font-size: 3rem;
  display: inline-block;
  color: #4a494a;
  line-height: 1;
}


/* General CSS Responsive Styles (Apply everywhere unless overrided) */

.show-xs,
.show-sm,
.show-md {
  display: none;
}

/* ------------------ MD Media Query (64em / 1024px) --------------------- */
/* Styles added here will apply at devices smaller than 1024px or zoomed in equivalent */

@media(max-width:64em) {

  .show-md { display: block; }
  .hide-md { display: none; }

  .md-tall-70 { min-height: 70vh; }

  h4 {
    font-size: 1.2rem;
  }

}

/* ------------------ SM Media Query (48em / 768px) --------------------- */
/* Styles added here will apply at devices smaller than 768px or zoomed in equivalent */

@media(max-width:48em) {

  html { font-size: 14px; }
  p { font-size: 1.1rem; }

  .show-sm { display: block; }
  .hide-sm { display: none; }

  .sm-text-center   { text-align: center; }
  .sm-text-left     { text-align: left; }
  .sm-text-right    { text-align: right; }

  .sm-padded        { padding: 5%; }
  .sm-padded-1      { padding: 1rem; }
  .sm-padded-05     { padding: 0.5rem; }

  .sm-padded-t-0    { padding-top: 0; }
  .sm-padded-b-0    { padding-bottom: 0; }
  .sm-padded-l-0    { padding-left: 0; }
  .sm-padded-r-0    { padding-right: 0; }

  .sm-padded-rl-1   { padding: 0 1rem 0.3rem;}

  .sm-margin-b { margin-bottom: 0.2rem; }

  header nav a { margin: 0 0.4rem; }

  header h3 { font-size: 11vw; }

  header h1 {
      font-size: 1.4rem;
      font-weight: 300;
  }

  .sm-square { padding-bottom: 100%; }
  .sm-landscape { padding-bottom: 66%; }

  .bg-image {
    min-height: 22rem;
  }

  .button {
    padding: 0.5rem 1rem; 
  }

  .featured-text {
    font-size: 5vw;
    letter-spacing: 0.3em;
  }
  
}

/* ------------------ XS Media Query (36em / 576px) --------------------- */
/* Styles added here will apply at devices smaller than 576px or zoomed in equivalent */

@media(max-width:36em) {

  .horizontal-scroll {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .show-xs { display: block; }
  .hide-xs { display: none; }

  img {
    max-width: 35%;
  }

  .bg-image {
    min-height: 11rem;
  }

  .button {
    padding: 0.3rem 0.5rem;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
  }

  .xs-vertical a {
    display: block;
    border: none;
  }
  
}


/* ------------------ XXS Media Query (25em / 400px) --------------------- */
/* Styles added here will apply at devices smaller than 400px or zoomed in equivalent */

@media(max-width:25em) {

  html { font-size: 12px; }
  p { font-size: 1rem; }

  .xxs-stack {
    flex-basis: 100%;
    max-width: 100%
  }
  
}


